html {
    box-sizing: border-box;
}

@font-face {
    font-family: Bebas-Regular;
    src: url("../font/Bebas-Regular.woff2") format("woff2");
    src: url("../font/Bebas-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: HelveticaNeue;
    src: url("..\font\HelveticaNeue.woff2") format("woff2");
    src: url("..\font\HelveticaNeue.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: url("..\font\HelveticaNeueCyr-Light.woff2") format("woff2");
    src: url("..\font\HelveticaNeueCyr-Light.woff") format("woff");
    font-display: swap;
}

*,
::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;

}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: inline-block;
}

body {
    font-family: HelveticaNeue;
    font-size: 12px;
    color: #fff;

}


.conteiner {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}


.header__inner {
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Bebas-Regular;
}

.header__logo {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: #e8603c;
}

.header__logo span {
    color: #f3af9d;
}

.header__menu {
    padding-top: 7px;
}

.header__menu-btn {
    width: 30px;
    display: none;
}

.header__menu-row {
    height: 2px;
    margin-bottom: 3px;
    background-color: #000;

}

.menu__list li+li {
    margin-left: 28px;
}

.menu__link {
    font-size: 16px;
    line-height: 20px;
    color: #b9b9b9;
    transition: all .5s;

}

.menu__link--active,
.menu__link:hover {
    color: #e8663c;
}


.slider {
    overflow: hidden;
}

.slider__inner {
    position: relative;


}

.slider__inner::before,
.slider__inner::after {
    content: "";
    position: absolute;
    height: 60px;
    width: 1000%;
    background-color: rgba(232, 96, 60, .502);
    top: 0;
}

.slider__inner::before {
    margin-left: 100%;
    left: 10px;
}

.slider__inner::after {
    margin-right: 100%;
    right: 10px;
}

.slider__for {
    margin-bottom: 18px;
}

.slider__item-img {
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.slider__nav-item {
    height: 120px;
    max-width: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

.slider__nav .slick-slide {
    max-width: 140px;
}

.slider__nav .slick-track div+div {
    margin-left: 20px;
}

.slider__item-inscript {
    position: absolute;
    left: 36px;
    bottom: 32px;
    background-color: rgba(235, 102, 60, .58);
    min-height: 124px;
    width: 413px;
    padding: 22px 5px 5px 19px;
}

.title {
    font-family: Bebas-Regular;
    font-size: 18px;
    font-weight: 400;
}

.slider__item-title {
    line-height: 18px;
    color: #fff;
    margin-bottom: 22px;
}

.slider__item-text {

    line-height: 15px;
}

.slider__btn {
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn__next {
    right: 0;
}

.btn__prev {
    left: 0;
    z-index: 5;
}


.items__section {
    padding-top: 40px;
    margin-bottom: 46px;
}

.items__inner {
    display: flex;
    justify-content: space-between;
}

.item {
    max-width: 246px;

}

.item__title {
    line-height: 24px;
    font-weight: 400;
    color: #e8663c;
    padding-left: 69px;
    margin-bottom: 35px;
    position: relative;
    text-transform: uppercase;
}

.item__icon {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 0;
    left: 0;
}

.item__text {
    line-height: 18px;
    color: #414141;
    margin-bottom: 20px;
}

.item__btn {
    font-family: Bebas-Regular;
    padding: 8px 13px;
    background-color: #e8663c;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    margin-top: auto;
    display: inline-block;

}


.works__section {
    padding-bottom: 48px;
}

.works__inner {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.works__title {
    line-height: 20px;
    color: #e8663c;
    margin-bottom: 25px;
    text-transform: uppercase;
    background-image: url(../images/lineas.jpg);
}

.works__title span {
    display: inline-block;
    padding-right: 20px;
    background-color: #fff;
}


.works__item-pictures {
    display: block;
    width: 220px;
    height: 185px;
}

.works__item-text {
    padding: 15px;
    font-family: Bebas-Regular;
    border: 1px solid #dbdbdb;
    border-top: none;
}

.item-cupture {
    font-size: 16px;
    line-height: 18px;
    color: #b9b9b9;
}

.item-date {
    font-size: 11px;
    line-height: 18px;
    color: #e8663c;
    display: block;
}


.footer__inner {
    background-color: #e8663c;
    padding: 40px 36px 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer__inner::before,
.footer__inner::after {
    content: "";
    position: absolute;
    width: 1000%;
    background-color: rgba(232, 96, 60, .502);
    height: 100%;
    top: 0;

}

.footer__inner::after {
    margin-right: 100%;
    right: 10px;
}

.footer__inner::before {
    margin-left: 100%;
    left: 10px;
}

.footer__about {
    width: 270px;
}

.footer__widget {
    width: 210px;
}

.footer__contact {
    width: 250px;
}

.footer__title {
    font-size: 20px;
    margin-bottom: 29px;
    color: #fff;
}

.footer__item-content p+p {
    margin-top: 20px;
}

.widget__list li+li {
    margin-top: 25px;
}

.widget-item span {

    display: block;
    padding-top: 12px;
}

.widget-link,
.widget-item span {
    font-family: HelveticaNeueCyr-Light;
    color: #f3b29d;
}

.footer__content {
    padding-bottom: 22px;
}

.footer__post {
    padding-bottom: 22px;
}